<div class="welcome list">    
    <% if (user) { %> 
        <h1>Welcome, <%= user.email %></h1>
    <% } else { %>
        <h1>The Auto-Closet</h1> 
    <% } %>
    </div>
<nav class="nav-bar">

    <ul> 
         
            <li><a href="/"><h1>Home</h1></a></li>
            <li><a href="/clothing"><h1>Clothing</h1></a></li>
            <li><a href="/outfits"><h1>Outfits</h1></a></li>
        <% if (user) { %> 
            <li><a href="/upload"><h1>Upload</h1></a></li>
            <li><a href="/logout"><h1>Log out</h1></a></li>
        <% } else {  %>
            <li><a href="/login"><h1>Log in</h1></a></li>
            <li><a href="/signup"><h1>Sign up</h1></a></li>
        <% } %>
        
        
    </ul>
        

    
</nav>