<div class="welcome">
    <h1>Welcome to the Auto-Closet!</h1>
</div>

<nav class="nav-bar">

    <ul>
        <li><a href="/"><h1>Home</h1></a></li>
        <li><a href="/clothing"><h1>Clothing</h1></a></li>
        <li><a href="/signup"><h1>Log In</h1></a></li>
    </ul>
        

    
</nav>