<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %> 
  <body>

    <%- include("partials/nav.ejs") %>

    

    <h1 id = "about-title">About this project</h1>

    <div class="container">
      <div class='column column-one'>
        <h4>Hey there, my name is Christian Lane, and I'm terrible at knowing
          which of my clothes should go with the others. Kind of throwing myself
          under the bus here huh? Well, that's why I made this site!
          <br><br>
          The goal of this site is to allow users to create an account where they
          can store pictures of the various pieces of clothing that they
          have in their closet. 
          <br><br>
          I've had this idea in mind for a while now, I pitched it to my team during my software engineering course in my
          undergraduate studies, but we decided to go with a different project at the time. Now, after graduating, I decided
          to work on the project on my own, both to improve my skills, and to actually make a product I plan on using!
          <br> <br>
        </h4>
      </div>
      <div class = 'column column-two'>
        <img src="images/Author.jpg" alt="A photo of the site's creator">
        <figcaption>Not bad, but we can do better!</figcaption>
      </div>
      <div class = 'column column-three'>
        
        <h4>
          
          At the moment, the project is in very early stages, with no user
          accounts and only a few static images of shirts and pants on the site.
          <br>
          My plan for the future is to add places to store hats, shoes, accessories, etc!
          <br><br>
          Update 10/9/20: <br> User accounts are now live! You can create an account
          and sign in, which you must do to be able to view the Clothing page. At the moment
          , there are only a few pieces of clothing that are the same for everyone. <br>
          The next thing I'll be working on is giving the users the ability to upload pictures
          of their own clothes, which will replace what you see on the Clothing page now.
          
        </h4>
      </div>

    
    </div>

    

    

  </body>
</html>
