<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %> 
  <body>



    <%- include("partials/nav.ejs") %>

    <div class="upper">
      
    </div>
  
      <div class="lower">
  
        <div class="lower_tile">
          <img src="images/pants.jpg" width="400" alt="">
        </div>
        <div class="lower_tile">
          <img src="images/pants2.jpg" width="400" alt="">
        </div>
        <div class="lower_tile">
          <img src="images/pants3.jpg" width="400" alt="">
        </div>
        <div class="lower_tile">
          <img src="images/pants4.jpg" width="400" alt="">
        </div>
        <div class="lower_tile">
          <img src="images/pants5.jpg" width="400" alt="">
        </div>
  
  
      </div>

    

    

  </body>
</html>
