<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %> 
  <body>


    <%- include("partials/nav.ejs") %>



    <form action="/upload" method="POST" id="imageForm" enctype="multipart/form-data">
      <p> Select an image to upload: </p>
      <input type="file" name="imageUpload" id="imageUpload">
      <button type="submit" id="imageSubmit">Submit</button>
    </form>

    

  </body>
</html>
