<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %> 
  <body class = "form body">


    <%- include("partials/nav.ejs") %>



    <!-- <form action="/upload" method="POST" id="imageForm" enctype="multipart/form-data">
      <p> Select an image to upload: </p>
      <input type="file" name="imageUpload" id="imageUpload">
      <button type="submit" id="imageSubmit">Submit</button>
    </form> -->

    <div class="background box img">

      <h2>* For best results when viewing clothes, take a picture of each piece of  <br> clothing with the same device, and use a 1:1 aspect ratio *</h2>

      
 

      <div class="img form"> 
        <form action="/uploadMultiple" method="POST" id="imageForm" enctype="multipart/form-data">
          <fieldset>
            <h2>Select an image to upload </h2>
            <input type="file" name="imageUpload" id="imageUpload" multiple >
            <br>
            <p>Please select which type of clothing you are uploading: </p>
            <label for="Top" id="Top">Top</label>
            <input type="radio" name="clothingType" id="Top" value="Top" required>
            <label for="Bottom" id="Bottom">Bottom</label>
            <input type="radio" name="clothingType" id="Bottom" value="Bottom">
            <br><br>
            <input type="submit" id="imageSubmit" value="Upload" ></input>
            <br><br>

        </fieldset>
  
  
        </form>
      </div>

      <h2>You may upload up to 10 images of the same type at once</h2>

    </div>

  </body>
</html>
